@import "tailwindcss";

html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  background-color: #f7f7f7;
  color: #1A1A1A;
  font-family: 'Inter', sans-serif;
}

section {
  scroll-snap-align: start;
}
